.listas {
    display: flex;   
    width: 400px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding: 1em;
}

.hideDiv {
    display: none;
    max-width: 400px;
    margin: 0 auto;
    flex-direction: column;
}

.detalhes {
    text-align: left;
    width: 66%;
    padding-left: 31px;

}

.detalhes h4 {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.acoes {
    display: flow;
}

.acoes i {
    margin-bottom: .5em;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #ffc107;
    color: #fff;
    border-radius: 10px;
    padding: .4em;
    transition: .5s;
}

.acoes i:last-child {
    margin-left: 26px;
    background-color: #dc3545;
}

.acoes i:hover {
    color: #61dafb;
}